.headscrollBox{
    position: fixed;
    width: 100%; 
    background-color: #f9f5e5;
    z-index: 9000; 
    top: 0px; 
}
.headscroll{
    
    
    height: 80px;
    padding-top: 10px;
}
.telscroll{
    width: max-content;
    display: inline-block;
    margin-left: 10px;
    font-size: 12pt;
    background-color: #f9f5e5;
}
.teliconscroll{
    display: inline-block;
}
.langscroll{
    display: inline-block;
    margin-top: -50px;
    margin-left: 5%;
}
.messagescrollbox{
    font-size: 14pt;
    cursor: pointer;
    background-color: #f9f5e5;
    
}

