.logoS{
    font-size: 20pt;
    font-weight: 700;
    font-variant:initial;
    
}
.logoP{
    font-size: 29pt;
    font-weight: 300;
    font-variant:initial;
    font-family: 'Jura', sans-serif;
    letter-spacing: 2pt;
    
}
.logo{
    cursor: pointer;
    
}
.logo img{
    max-width: 200px;
    
}
.logoscroll{
    display: inline-block;
    position: absolute;
    left: 6.5%;
    top: 0px;
    margin: auto;
    text-align: left;
    font-size: 10pt;
    width: 50%;
    
}
.logoscroll img{
    width: 70px;
    float: left;
    padding-right: 15px;
}
.logoText1{
    font-size: 8pt;
}
.logoText2, .logoText3{
    font-weight: bold;
}
.logoTextBox{
    background-color: #f9f5e5;
}

