
.mobileLeft{
    position: fixed;
    background-color: #001a51;
    margin-top: 65px;
    width: 100%;
    z-index: 8000 !important;
}
.mobileLeft ul{
    width: 230px;
    text-align: left !important;
    margin-top: 50px;
    position: absolute;
    background-color: #2282D6;
    padding-top: 8px;


}
.mobileLeft ul a{
   display: block;
   padding-left: 5px;
   border-left: solid 3px #fff;
   text-decoration: none;
   font-size: 14pt;
}
.mobileLeft ul li{
    text-align: left !important;
    list-style: none;
    padding-left: 10px;
}
.mobileLeft ul li a{

}
.mobileLeft ul li ul{
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 220px;


}
.mobileLeft ul li ul li{
    padding: 0px;
    margin-top: 4px;
    background-color: #ffffff;
}

.mobileLeft ul > li > a{
    color: #ffffff;
}
.mobileLeft ul > li > ul > li > a{
    color: #2282D6;
}
.mobileLeft ul li a:hover{
    border-left: solid 3px #ffffff;
    margin-left: 8px;

}
.mobileLeft .menu_active > a{
   margin-left: 8px;
}










/*  */




.menu-left-btn{
    top: -50px;
	margin-left: 10%;
    position: absolute;
    z-index: 8500;
    cursor: pointer;
}

.menu-left-btn .arrow{
	font-size: 50pt;
	width: 20px;
	background-color: blue;
	color: #ffffff;
}
.scrollactive-menu-left{
    position: fixed;
    width: 14.5%;
}
.menu-left{
	background-color: #ffffff;
	margin-top: 10px;
	padding-bottom: 8px;
}
.menu-left ul li{
    height: 30px;
	text-align: left !important;
	list-style: none;
    text-align: left;
    margin-left: -20px;
}

.menu-left ul li a{
	text-decoration: none;
	display: block;
	font-size: 13pt;
	color: #2282D6;
}
.menu-left ul li a:hover{
	color: #dfb81c;
}
.scrollactivemobbuttonleft{
    position: fixed !important;
    top: 95px !important;
    }