.message{
    height: 100px;
    text-align: center;
    margin-top: 50px;
    border: solid 1px #cccccc;
    color: #187751;
    font-size: 16pt;
    min-width: 200px;
    transition: 0.6s;
    cursor: pointer;
}
.message:hover{
   background-color: rgb(243, 243, 243);
}